body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* NAVIGATION */
nav {
  background-color: white;
  width: 100vw;
  padding: 20px 0;
  position: absolute;
  left: -100vw;
  bottom: 0;
  top: 0;
  box-sizing: border-box;
  pointer-events: none;
  transition: left 0.4s ease-in-out;
  text-align: center;
}

nav ul {
  list-style-type: none;
  margin: 50px 0 0 0;
  padding: 0;
}

nav ul li {
  margin-bottom: 10px;
}

nav ul li a {
  text-decoration: none;
  color: black;
}

.hamburger {
  cursor: pointer;
}

.hamburger span {
  height: 3px;
  width: 30px;
  background-color: white;
  display: block;
  margin-bottom: 5px;
  border-radius: 5px;
  position: relative;
  transition: transform 0.3s ease-in-out,
  top 0.3s ease-in-out,
  opacity 0.3s ease-in-out;
}

.trigger:checked ~ .hamburger span:first-child {
  transform: rotate(45deg);
  top: 8px;
}

.trigger:checked ~ .hamburger span:last-child {
  transform: rotate(-45deg);
  top: -8px;
}

.trigger:checked ~ .hamburger span:nth-child(2) {
  opacity: 0;
}

.trigger:checked ~ .hamburger span {
  background-color: black;
}

.trigger {
  z-index: 100;
  display: none;
}

.trigger:checked ~ nav {
  left: 0;
}

.trigger:checked ~ nav a {
  pointer-events: auto;
}
/* END NAVIGATION */
