body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: white;
  color: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* NAVIGATION */
.navigation {
  position: fixed;
  top: 0;
  left: -100%;
  height: 100%;
  width: 100%;
  background-color: #fff;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.3);
  transition: left 0.3s ease-in-out;
}

.visible {
  left: 0;
}

.navigation-toggle {
  position: fixed;
  top: 10px;
  left: 10px;
  font-size: 24px;
  background-color: transparent;
  border: none;
  color: #fff;
  z-index: 9999;
  cursor: pointer;
}

.navigation-toggle span {
  height: 3px;
  width: 30px;
  background-color: black;
  display: block;
  margin-bottom: 5px;
  border-radius: 5px;
  position: relative;
  transition: transform 0.3s ease-in-out,
  top 0.3s ease-in-out,
  opacity 0.3s ease-in-out;
}

ul {
  margin-top: 100px;
  list-style-type: none;
  padding: 0;
  text-align: center;
}

li {
  margin-bottom: 20px;
}

.link {
  color: #000;
  text-decoration: none;
  font-size: 18px;
}

@media (min-width: 768px) {
  .navigation {
    width: 20%;
  }
}


